$('.help-requests').append("
    <div class='help-request'>
      <%= help_request.name             %>
      <%= help_request.description      %>
      <%= help_request.status           %>
      <%= help_request.user             %>
    </div>")